**/.git
**/__pycache__
**/.idea
**/.ipynb_checkpoints
**/.pytest_cache
**/.dagster_home
**/_whaler
**/examples
**/secrets
**/uncommitted
**/.env
**/tmp/*
!tmp/requirements.txt
**/dagster_instances/**/*
!dagster_instances/gcp-cloud-run-europe-west1/.telemetry/id.yaml
!dagster_instances/gcp-cloud-run-europe-west1/dagster.yaml