[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
dagster = "*"
dagster-pandas = "*"
dagster-postgres = "*"
dagster-cron = "*"
dagster-ge = "*"
dagit = "*"
importlib-metadata = "~=2.1.1"
jupyter = "*"
ghapi = "*"
sqlalchemy = "*"
psycopg2-binary = "*"
dagster-gcp = "*"
google-cloud-storage = "*"
dagster-k8s = "*"
dagster-celery-k8s = "*"
dagster-celery = {extras = ["kubernetes"], version = "*"}

[dev-packages]
pytest = "*"
pylint = "*"

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true # Needed for dagster-ge
